
<div class="px-2 py-3">

    

    <div class="card">
        <div class="card-header p-3 text-center">
            <h3 class="h3 fw-light">
                <strong> E-bank </strong> an application that simulates banks operations, built with spring framework and Angular.
            </h3>
        </div>
        <div class="card-body">
            <div class="row col-10 col-md-8 col-lg-7 mx-auto my-0">
                <div class="col text-center">
                    <img src="/assets/ng.png" class="mx-auto" style="height: 200px; width: auto;">
                </div>
                <div class="col text-center">
                    <img src="/assets/sp.png" class="mx-auto" style="height: 200px; width: auto;">
                </div>
            </div>
        </div>
        <div class="card-footer text-primary text-center" *ngIf="!authenticated; else seeFeatures">
            <h5 class="h5 fw-bold"> You should authenticate to use this app's features ! </h5>
        </div>
        <ng-template #seeFeatures>
            <div class="card-footer text-success text-center" *ngIf="authenticated; else seeFeatures">
                <h5 class="h5 fw-bold"> You are authenticated now, you can navigate feautures throght left side menu ! </h5>
            </div>
        </ng-template>

    </div>

</div>